################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Science_fair/v15/.suo
/UpgradeLog.htm
